<!-- Portfolio 2 Grid -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="bg-light page-section" id="{{ site.data.sitetext.portfolio2.section | default: "portfolio2" }}" style="background-color: #212529 !important;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].portfolio2.title | markdownify | default: "Portfolio 2" }}</h2>
        <h3 class="section-subheading text-muted" style="color: #e9ecef !important;">{{ site.data.sitetext[site.locale].portfolio2.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
    {% for project in site.portfolio2 %}
      <div class="col-md-4 col-sm-6 portfolio-item" style="text-align: center;">
        <a class="portfolio-link" data-toggle="modal" href="#p2{{ forloop.index }}">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="mx-auto rounded-circle" src="{{ project.caption.thumbnail }}" alt="" style="width: 225px;height: 225px;border: 5px solid #f8f9fa;">
        </a>
        <div class="portfolio-caption">
          <h4>{{ project.caption.title }}</h4>
          <p class="text-muted" style= "color: #e9ecef !important;font-style: normal;margin-bottom: 1rem;font-family: &quot;Roboto Slab&quot;, -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;;">{{ project.caption.subtitle }}</p>
          <ul class="list-inline social-buttons">
      		{% for network in project.caption.social %}
      		  <li class="list-inline-item">
      			<a href="{{ network.url }}">
      			  <i class="{{ network.icon }}"></i>
      			</a>
      		  </li>
      		{% endfor %}
      		</ul>
        </div>
      </div>
    {% endfor %}
    </div>
    <div class="row">
    	<div class="col-lg-8 mx-auto text-center">
    	  <div class="large text-muted"  style="color: #e9ecef !important;">{{ site.data.sitetext[site.locale].portfolio2.subtext | markdownify }} </div>
    	</div>
    </div>
  </div>
</section>
{% else %}
<section class="bg-light page-section" id="{{ site.data.sitetext.portfolio2.section | default: "portfolio2" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.portfolio2.title | markdownify | default: "Portfolio 2" }}</h2>
        <h3 class="section-subheading text-muted"  style="color: #e9ecef !important;">{{ site.data.sitetext.portfolio2.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
    {% for project in site.portfolio2 %}
      <div class="col-md-4 col-sm-6 portfolio-item">
        <a class="portfolio-link" data-toggle="modal" href="#p2{{ forloop.index }}">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="{{ site.data.style.portfolio-icon | default: "fas fa-plus fa-3x" }}"></i>
            </div>
          </div>
          <img class="img-fluid" src="{{ project.caption.thumbnail }}" alt="">
        </a>
        <div class="portfolio-caption">
          <h4>{{ project.caption.title }}</h4>
          <p class="text-muted"  style="color: #e9ecef !important;">{{ project.caption.subtitle }}</p>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</section>
{% endif %}
{% include modals2.html %}
