---
---
@charset "utf-8";

// Core variables and mixins
@import "base/variables.scss";
@import "base/mixins.scss";

// Custom Fonts
// Add Horizon Font
@font-face {
    font-family: 'Horizon';
    src: url('/assets/css/webfonts/horizon.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

// Dynamically load fonts from site.data.style.fonts
{% if site.data.style.fonts %}
  {% for font in site.data.style.fonts %}
    @mixin {{font.for}}-font {
      font-family: "{{ font.name }}", -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
  {% endfor %}
{% endif %}

// Define a mixin for the Horizon font (manually added)
@mixin horizon-font {
    font-family: 'Horizon', -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

// Apply Horizon font globally (optional)
body, h1, h2, h3, h4, h5, h6 {
    @include horizon-font;
}

// Custom colors
$primary: {{ site.data.style.highlight | default: "#e31c24" }} !default;
$white: {{ site.data.style.white | default: "#fff" }} !default;
$black: {{ site.data.style.black | default: "#000" }} !default;

// Custom Images
$header-image: "{{ site.data.style.header-image }}";
$contact-image: "{{ site.data.style.contact-image }}";

// Global CSS
@import "base/page.scss";

// Components
@import "components/buttons.scss";
@import "components/navbar.scss";
@import "components/client-scroll.scss";

// Layout
@import "layout/masthead.scss";
@import "layout/services.scss";
@import "layout/portfolio.scss";
@import "layout/timeline.scss";
@import "layout/team.scss";
@import "layout/contact.scss";
@import "layout/footer.scss";
